name: Docker Compose CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted

    defaults:
      run:
        working-directory: ./compose

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build and run Docker Compose services
        run: |
          docker compose up -d --build --force-recreate
          docker compose ps
          ls
